node_modules
.git
dist
*.md
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
.env
.env.*
.vscode
.idea
*.log
coverage
.DS_Store
test-results
playwright-report
dump.rdb
e2e
**/__tests__
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
.cursorrules
.windsurfrules
learnings
docs
